<div class="book-container">
    <div class="flex-display ">
        <img src="https://images.pexels.com/photos/2237801/pexels-photo-2237801.jpeg?auto=compress&cs=tinysrgb&w=800"
            alt="">

        <div class="book-sub-section">
            <h3 class="title-heading ">{{ book?.title }}</h3>
            <div class="book-details-div">
                <p>Author: {{book?.author}}</p>
                <p>ISBN: {{book?.isbn}}</p>
                <p>Publisher: {{book?.publisher}}</p>
                <p>Year Released: {{book?.yearReleased}}</p>
                <p>Copies: {{book?.noOfCopies}}</p>
                <p>Category: {{book?.category?.name}}</p>
            </div>
        </div>
    </div>
    <div class="button-container">
        <div class="book-action-button">
            <p class="colour-secondary" (click)="onUpdateIconClicked()"><fa-icon [icon]="faPencil"></fa-icon></p>
            <p class="colour-secondary" (click)="onDeleteIconClicked()"><fa-icon [icon]="faDelete"></fa-icon></p>
        </div>
    </div>
</div>

<app-update-book [displayStyle]="updateDisplayStyle" (btnClick)="closeUpdateConfirmDialog()"
    [bookDataToUpdate]="getBookToBeUpdated()"></app-update-book>