<div class="modal" style="margin-top: 5%" role="dialog" [ngStyle]="{'display': displayStyle}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="bookModalLabel">Update Book</h5>
                <button type="button" class="close"
                    style="border-radius: 30%; border-width: 0; font-size: 2rem; width: 50px; padding: 0; background: #3B3E52; color: #f4f4f4;"
                    data-dismiss="modal" (click)="onClosePopup()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="add-form" #updateBookForm="ngForm">
                    <input type="text" [(ngModel)]="title" name="title" value={{bookDataToUpdate?.title}} id="title">

                    <input type="text" [(ngModel)]="author" name="author" value={{bookDataToUpdate?.author}}
                        id="author">

                    <input type="text" [(ngModel)]="publisher" name="publisher" value={{bookDataToUpdate?.publisher}}
                        id="publisher">

                    <input type="text" [(ngModel)]="isbn" name="isbn" value={{bookDataToUpdate?.isbn}} id="isbn">

                    <input type="text" [(ngModel)]="yearReleased" name="yearReleased"
                        value={{bookDataToUpdate?.yearReleased}} id="yearReleased">

                    <input type="text" [(ngModel)]="noOfCopies" name="noOfCopies" value={{bookDataToUpdate?.noOfCopies}}
                        id="noOfCopies">

                    <select [(ngModel)]="categoryId" name="category">
                        <option value="{{bookDataToUpdate?.category?.id}}">{{bookDataToUpdate?.category?.name}}</option>
                        <option value="0">Select Category</option>
                        <option *ngFor="let category of categories" value="{{category.id}}">{{category.name}}</option>
                    </select>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" (click)="onClosePopup()" data-dismiss="modal">Discard</button>
                <button type="submit" class="btn" (click)="onSubmitForm()">Update</button>
            </div>
        </div>
    </div>
</div>