<div class="main-section">
    <div class="div-btn">
        <app-button text="Add Book" (btnClick)="openPopup()"></app-button>
        <!-- <app-button text="Add Category"></app-button> -->
    </div>
    <app-books-item *ngFor="let book of books" [book]="book" [category]="book.category"
        (btnClick)="closeUpdateConfirmDialog()" [updateDisplayStyle]="updateConfirmDialogStyle"
        (onIconButtonClicked)="deleteBook(book.id!)" (updateIconClicked)="openUpdateConfirmDialog()">
    </app-books-item>
</div>
<app-add-book [displayStyle]="displayStyle" (btnClick)="closePopup()" (onAddBook)="addBook($event)"></app-add-book>