<div style="height: 100vh;">
    <table class="table-content">

        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let category of categories">
                <td>{{category?.name}}</td>
                <td>{{category?.description}}</td>
                <td><fa-icon [icon]="faPencil"></fa-icon></td>
                <td style="color: #bc2a2a;" (click)="deleteCategory(category.id!)"><fa-icon [icon]="faDelete"></fa-icon>
                </td>
            </tr>
        </tbody>
    </table>
</div>