.table-content {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-weight: 100;
    width: 100%;
    box-shadow: 0px 0px 4px 0px rgb(58 57 76 / 10%);
}

.table-content thead tr {
    background-color: var(--primary);
    color: #ffffff;
    text-align: center;
}

.table-content th,
.table-content td {
    padding: 12px 15px;
}

.table-content tbody tr {
    border-bottom: 1px solid #dddddd;
    text-align: center;
}

.table-content tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
    font-weight: 100;
}

.table-content tbody tr:last-of-type {
    border-bottom: 0.8px solid #3B3E52;
}